.form {
      font-size: 1.5rem;
      padding: 40px;
      background: #262b3a;
      color: #f2f2f2;
      
}
.form a{
      color: #3beb95;
}
.form a:hover{
      color: #4a5472;
}

input {
      border: 5px solid #4a5472;
      border-radius: 20px;
      font-size: 1rem;
      padding: 15px;
      margin: 15px;
}
button {
      font-family: 'Roboto', sans-serif;
      padding: 1rem 1.25rem;
      margin: 1rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 15rem;
      background-color: #3beb95;
      color: #262b3a;
      text-align: center;
      cursor: pointer;
      user-select: none;
      /* supported by Chrome and Opera */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
}

button:hover {
      
      background: #f2f2f2;
}