.nav-container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      
}

.nav-container .user-head {
      background: #3beb95;
      color: #262b3a;
      margin-bottom: 0;
}

.nav-container .nav {
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
}

.nav-container a {
      width: 200px;
      color: #4a5472;
      padding: 0 15px 15px 15px;
    
}
    
.nav-container a:hover {
      color: #3beb95;
}