.nav-container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      
}

.nav-container .user-head {
      background: #3beb95;
      color: #262b3a;
      margin-bottom: 0;
}

.nav-container .cta {
      margin: 40px 0;
      font-size: 1.2rem;
      color: #4a5472;
      font-family: 'Montserrat', sans-serif;
}

.nav-container .nav {
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
}

.nav-container a {
      width: 200px;
      color: #4a5472;
      padding: 15px;
    
}

/* .nav-container ul {
      padding: 30px;
} */
    
.nav-container a:hover {
      color: #3beb95;
}

.q-form-wrap {
      margin-top: 15px;
      
}

.q-form {
      padding-top: 30px;
}

.q-form input {
      width: 500px;
}

.profile-container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      margin: 40px 0;
      font-size: 1.2rem;
}

.profile-card {
      padding: 30px;
      margin-top: 30px;
      box-shadow: 2px 2px 6px #262b3a;
}